# Package required for the features of GOexpress to work
import("Biobase")
import("biomaRt")
import("ggplot2")
import("grid")
import("RColorBrewer")
import("graphics")
import("stats")
import("methods")

import("GO.db")

importFrom(
    "randomForest",
    "randomForest", "importance"
)

importFrom(
    "broom",
    "tidy"
)

#importFrom(
#    "graphics",
#    "hist", "par", "plot", "plot.design"
#)

#importFrom(
#    "aggregate", "dist", "hclust", "oneway.test", "quantile"
#    "stats",
#)

importFrom(
    "gplots",
    "heatmap.2", "bluered", "greenred"
)

importFrom(
    "stringr",
    "str_extract"
)

importFrom(
    "VennDiagram",
    "venn.diagram"
)

importFrom(
    "RCurl",
    "getCurlHandle"
)


#export("^[[:alpha:]]+")

# GOexpress"2"
export("randomForest")
export("oneway.test")
export("p.adjust")
export("listMethods")
export("head")
export("tail")
export("GOMap")
export("GOrank")

# GOexpress"1"

# Functions available to the user (API)
export("cluster_GO")
export("expression_plot")
export("expression_plot_symbol")
export("expression_profiles")
export("expression_profiles_symbol")
export("GO_analyse")
export("heatmap_GO")
export("hist_scores")
export("list_genes")
export("overlap_GO")
export("plot_design")
export("pValue_GO")
export("quantiles_scores")
export("rerank")
export("subEset")
export("subset_scores")
export("table_genes")
