# Package required for the features of GOexpress to work
import("Biobase")
import("methods")
import("ggplot2")

importFrom(
    "stats",
    "p.adjust.methods"
)

importFrom(
    "randomForest",
    "randomForest", "importance"
)

importFrom(
    "broom",
    "tidy"
)

importFrom(
    "reshape2",
    "melt"
)

# GOexpress"1"
# Remove when defunct
importFrom(
    "RColorBrewer",
    "brewer.pal"
)
importFrom(
    "gplots",
    "bluered"
)

#export("^[[:alpha:]]+")

# GOexpress"2"
export("randomForest")
export("oneway.test")
export("p.adjust")
export("listMethods")
export("head")
export("tail")
export("GOMap")
export("GOrank")
export("ggfy")
export("ggPheno")
export("smoothFeature")

# GOexpress"1"
# Defunct in future versions

# Functions available to the user (API)
export("cluster_GO")
export("expression_plot")
export("expression_plot_symbol")
export("expression_profiles")
export("expression_profiles_symbol")
export("GO_analyse")
export("heatmap_GO")
export("hist_scores")
export("list_genes")
export("plot_design")
export("pValue_GO")
export("quantiles_scores")
export("rerank")
export("subEset")
export("subset_scores")
export("table_genes")
